# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df= pd.read_csv("../output_data/global_weather.csv")
weather_df.head()

,City,Country,Latitude,Longitude,Date,Temperature,Max Temperature,Humidity,Wind Speed,Cloudiness
0,Atuona,PF,-9.80,-139.03,1586568765,82.45,82.45,75,11.34,84
1,Kapaa,US,22.08,-159.32,1586568766,76.73,78.80,57,14.99,20
2,Punta Arenas,CL,-53.15,-70.92,1586568496,37.20,37.40,93,8.05,40
3,Kunya,NG,12.22,8.53,1586568766,82.40,82.40,26,6.71,97
4,Saldanha,ZA,-33.01,17.94,1586568766,60.80,60.80,93,3.36,84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key= g_key)

In [4]:
locations= weather_df[["Latitude","Longitude"]]
weight= weather_df["Humidity"]

In [5]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights= weight*2, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# 20 cloudiness, max80 degrees (F), min 70 degrees (F), windspeed< 10
# new_df= weather_df
#weather_df.loc[weather_df["Cloudiness"]== 0,"Cloudiness"]=0
ideal_weather_df= weather_df.loc[(weather_df["Cloudiness"]<9)&(weather_df["Max Temperature"]>= 70)
                                 &(weather_df["Max Temperature"]<= 80)&(weather_df["Wind Speed"]< 10)]
ideal_weather_df

,City,Country,Latitude,Longitude,Date,Temperature,Max Temperature,Humidity,Wind Speed,Cloudiness
182,Bajil,YE,15.06,43.29,1586568810,79.50,79.50,67,1.34,4
242,Coahuayana Viejo,MX,18.73,-103.68,1586568828,75.27,75.27,61,3.89,0
254,El Fuerte,MX,26.42,-108.62,1586568829,72.45,72.45,28,5.14,5
290,Ormara,PK,25.21,64.64,1586568835,79.38,79.38,68,0.81,0
311,Hualmay,PE,-11.10,-77.61,1586568839,72.32,72.32,79,7.67,3
328,Chalmette,US,29.94,-89.96,1586568760,65.93,71.60,37,5.82,1
332,Nouakchott,MR,18.09,-15.98,1586568842,71.60,71.60,78,8.05,0
376,Gagret,IN,31.67,76.07,1586568852,76.75,76.75,32,3.13,4
530,Las Choapas,MX,17.93,-94.08,1586568883,78.31,78.31,94,3.09,2

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df= ideal_weather_df[["City", "Country", "Latitude", "Longitude"]]
hotel_df["Hotel Name"]= ""
hotel_df.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 City Country  Latitude  Longitude Hotel Name
182             Bajil      YE     15.06      43.29
242  Coahuayana Viejo      MX     18.73    -103.68
254         El Fuerte      MX     26.42    -108.62
290            Ormara      PK     25.21      64.64
311           Hualmay      PE    -11.10     -77.61

In [8]:
hotels=[]

params = {"radius": 5000,
    "types": "lodging",
    "key":g_key
}

for index,row in ideal_weather_df.iterrows():
    
    lat= row["Latitude"]
    lng= row["Longitude"]
    params["location"] = f"{lat},{lng}"
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address= requests.get(base_url, params= params).json()
    try:
        hotel_df.loc[index, "Hotel Name"]= name_address["results"][0]["name"]
    except IndexError:
        print(f"No Hotel")

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

No Hotel

In [12]:
clean_hotel_df= hotel_df.dropna()
filter= clean_hotel_df["Hotel Name"] !=""
hotel_df= clean_hotel_df[filter]
hotel_df.reset_index()
hotel_df[[""]]

,index,City,Country,Latitude,Longitude,Hotel Name
0,182,Bajil,YE,15.06,43.29,فندق الصقر السياحي
1,242,Coahuayana Viejo,MX,18.73,-103.68,Hotel Los Arcos
2,254,El Fuerte,MX,26.42,-108.62,Hotel Rio Vista
3,311,Hualmay,PE,-11.10,-77.61,Hotel Restaurant Turístico Casablanca
4,328,Chalmette,US,29.94,-89.96,Marina Motel Chalmette
5,332,Nouakchott,MR,18.09,-15.98,Hôtel Iman
6,376,Gagret,IN,31.67,76.07,The Hotel Clark Plaza
7,530,Las Choapas,MX,17.93,-94.08,Hotel Jysmak

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [11]:
# Add marker layer ontop of heat map
markers= gmaps.marker_layer(locations, info_box_content= hotel_info)
fig.add_layer(markers)

fig
# Display Map

Figure(layout=FigureLayout(height='420px'))